.footer-end{
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.5px;
    margin-top: 20px;
}