.navBar{
    background-color: #000000;
    color: #ffffff;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
nav ul li{
    margin: 0 10px;
}